body {
  width: 800px;
  padding: 20px;
  margin: 0 auto !important;
}

.header {
  width: 100%;
  text-align: center;
  padding: 20px;
}

h3 {
    color: #333;
}

.container {
  padding: 0;
  width: 100%;
  padding: 20px;
}

.preview {
  float: left;
  width: 50%;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  line-height: 32px;
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.price {
  font-size: 16px;
  color: red;
}

.desc {
  color: #999;
}

.image {
  width: 100%;
  height: 350px;
  display: inline-block;
  background-position: center !important;
  background-size: cover !important;
}

.edit {
  float: left;
  width: 50%;
  padding: 30px;
}

.edit-name,
.edit-price,
.edit-desc,
.edit-image {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
