body {
	width: 800px;
	padding: 0;
	margin: 0 auto;
}

.list {
	width: 100%;
}

.shirt {
	width: 200px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 20px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
	transition: all 0.2s;
}

.image {
	width: 200px;
	height: 240px;
	border-radius: 10px;
	background-position: center !important;
	background-size: cover !important;
}

.shirt:hover {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.name {
	width: 100%;
	font-weight: 600;
	line-height: 32px;
}

.color {
	width: 100%;
	font-size: 14px;
	color: #999;
}

.size {
	width: 100%;
	font-size: 14px;
	color: green;
}

.price {
	font-size: 14px;
	width: 100%;
	font-weight: 600;
}

.btn-buy {
	margin: 10px 0;
	border-radius: 5px;
	border: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 10px 20px;
	width: 100%;
	background: #09f;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.btn-buy:hover {
	background: #08f;
}
